﻿body {
    margin: 0;
}

* {
    -webkit-user-select: none; /*Chrome*/
    -moz-user-select: none; /*Firefox*/
}

#instructions 
{
    direction:rtl;
    z-index: 99;
    position: absolute;
    right: 50px;
    top: 200px;
    font-size:120%;

}
#game {
    height: 500px;    
}

#ball {
    width: 120px;
    height: 120px;
    background-color: Blue;
    position: absolute;
    border-radius: 60px;
    box-shadow: 0px 0 20px 3px rgba(20,20,20,.6), inset 0px 0 60px 3px rgba(20,20,20,.6);
}

#ballGlow {
    width: 80px;
    height: 50px;
    border-radius: 60px / 40px;
    margin-top: 3px;
    background-color: White;
    margin-left: 20px;
    opacity:0.5;
}

.divBtn {
    position: absolute;
    bottom: 30px;
    z-index: 100;
    background-color: #CC0033;
    font-weight:bold;
    color: White;
    height: 20px;
    width: 80px;
    text-align: center;
    box-shadow: 0px 0 6px 2px rgba(20,20,20,.6), inset 1px 1px 5px 1px rgba(20,20,20,.6);
    border-radius: 5px 5px;
    cursor: pointer;
}

.btnGlow 
{
    position: absolute;
    z-index: 101;
    width: 76px;
    height: 8px;
    border-radius: 5px 5px;
    background-color: White;
    opacity:0.5;
    bottom: 10px;
    margin-left: 2px;
}

.divAsteroid {
    width: 10px;
    height: 60px;
    background-image: url('images/asteroid.jpg');
    position: absolute;
}

#toplava, #bottomlava {
      width: 98%; 
      height: 70px;  
      background-image: url('images/lava.jpg');
      -moz-animation:lava 2s infinite; /*Firefox*/
      -webkit-animation:lava 2s infinite; /*Chrome*/
}

@-webkit-keyframes lava { /*Chrome*/
 from {
   opacity: 0.5;
   background-image: url('images/lava.jpg');
 }
 to {
   opacity: 1.0;
   background-image: url('images/lava.jpg');
 }
}

@-moz-keyframes lava { /*Firefox*/
 from {
   opacity: 0.5;
   background-image: url('images/lava.jpg');
 }
 to {
   opacity: 1.0;
   background-image: url('images/lava.jpg');
 }
}

#obama {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: -1;
    color:  Purple;  
    font-size:150%;
    font-weight: bold;
    text-shadow: 1px 1px 3px Black; /*Chrome and Firefox*/
    filter: Shadow(Color=black, Direction=210, Strength=3); /*IE (tested on IE9)*/

}